# First introduction to Python
Here we will see some basic operations

## Arithmetic

In [3]:
a = 1 
b = 3
a + b

4

In [4]:
a * b

3

# String operations

In [25]:
a = "Hello"
b = " my name is "
hello =  a + b

In [26]:
print(hello)

Hello my name is

## Lists

In [27]:
names = ["Sadadi","Nathan","Juan"]

In [28]:
numbers = range(10)

## For loops

In [29]:
for variable in names:
    print(variable)

Sadadi
Nathan
Juan

## Access methods with the '.' operation

In [35]:
sentences = []
for variable in names:
    sentence = hello + variable
    sentences.append(sentence)

In [38]:
print(sentences)

['Hello my name is Sadadi', 'Hello my name is Nathan', 'Hello my name is Juan']

## Conditionals

In [44]:
## Boolean (logical) functions
x =  2.0
y = 3.0
print(x > y)
print(x < y)
print(x == y)

False
True
False

In [48]:
sentence

'Hello my name is Juan'

In [50]:
'Hello' in sentence

False

Let's compose things

In [51]:
for line in sentences:
    if  ('Nathan' in line):
        print("Have you installed Jupyter?")
    else:
        print(line)

Hello my name is Sadadi
Have you installed Jupyter?
Hello my name is Juan

## For next workshop:
* Object oriented
* Data analysis pandas
* plot stuff